.button-primary {
  align-items: center;
  background-color: $gray-primary;
  border: 2px solid $black;
  border-radius: 8px;
  color: $gray-tertiary;
  display: flex;
  font-size: 1.5rem;
  font-weight: 900;
  height: 48px;
  justify-content: center;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: all 0.2s ease-in-out;
}

.button-primary:after {
  background-color: $black;
  border-radius: 8px;
  content: '';
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-primary:hover:after {
  transform: translate(0, 0);
}

.button-primary:active {
  background-color: $gray-tertiary;
  color: $gray-primary;
  outline: 0;
}

.button-primary:hover {
  outline: 0;
  background-color: $gray-tertiary;
}

@media (min-width: 768px) {
  .button-primary {
    padding: 0 40px;
  }
}
